@{
    ViewBag.Title = "Home Page";
}

<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <div class="list-group">
            <a href="#" class="list-group-item active">
                Where to?
            </a>
            <a href="~/RegisterPeople/Index" class="list-group-item">
                <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                People
            </a>
            <a href="~/RegisterEquipment/Index" class="list-group-item">
                <i class="fa fa-cogs" aria-hidden="true"></i>
                Equipment
            </a>
            <a href="#" class="list-group-item">
                <i class="fa fa-external-link" aria-hidden="true"></i>
                Function
            </a>

        </div>


        @*<div class="col-md">
                <div class="form-floating">
                    <select class="form-select" id="stagingcodesSelect" aria-label="Floating label">
                        <option selected>-</option>

                    </select>
                    <label for="floatingSelectGrid">Select Staging Code</label>
                </div>
            </div>
            <div class="container">
                @Html.Partial("StagingArea")

            </div>
            <div class="container-fluid py-5">
                <button class="btn btn-primary px-3 py-2">Review Loaded</button>
                <button class="btn btn-primary px-3 py-2" disabled>Post</button>
                <button class="btn btn-primary px-3 py-2">Batch Summary</button>

            </div>*@
    </div>
</div>

