<div class="container mt-3">


    <table id="staggingAreaTable" class="table table-striped dt-responsive" style="width:100%; font-size:14px;">
        <thead>
            <tr>
                <th>Username</th>
                <th>SKU</th>
                <th>ItemDesc</th>
                <th>STDPK</th>
                <th>SlotLoc</th>
                <th>DistriConfig</th>
                <th>QtyToPick</th>
                <th>QtyPicked</th>
                <th>QtyPcsEdited</th>
                <th>Edit/Input</th>
                <th>Return</th>
                <th>Load</th>
            </tr>
        </thead>
    </table>
</div>
